:root {
    --bright:#FFC107;

}

body {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

main {
    flex: 1 1 80%;
    position: relative;
}

.posts {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.post {
    text-align: center;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    align-items: center;
    min-height: 220px;
    background-color: #dcdcdc;
    padding: 10px;
}

.post-image {
    display: block;
    margin: auto;
}

.post-title {
    font-size: 20px;
    font-weight: 900;
    margin: 5px;
}

.post-description {
    color: #3e3e3e;
    margin: 5px;
}

.post-upload {
    margin: 5px;
}

.post-upload-date {
    font-weight: 600;
}

.post-tags-container {
    display: flex;
    justify-content: center;
    margin: 5px;
    flex-wrap: wrap;
}

.post-left .btn {
    margin-top: 10px;
}

aside #sortButton {
    position: relative;
    bottom: 5px;
}

aside .btn-dark {
    margin: 25px;
}

aside .form-inline {
    margin-top: 15px;
}

.tag {
    border-radius: 3px;
    background-color: var(--bright);
    color: white;
    padding: 5px;
    white-space: nowrap;
    cursor: pointer;
    margin: 7px;
}

.tag.selected {
    box-shadow: 0px 0px 4px 5px #b2b3b3;
}

.general-tags-container {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    justify-content: start;
    align-content: start;
    margin: 15px;
}